<nav class="navbar navbar-expand-lg bg-black p-0 w-100">
  <div class="container-fluid">
    <div class="navbar-brand text-center">
      <img class="nau-logo"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Emblem_of_National_Aviation_University.png/1200px-Emblem_of_National_Aviation_University.png">
    </div>

    <div class="navbar-collapse mb-lg-0 mb-2">
      <ul class="navbar-nav me-auto text-center">

        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link m-lg-2 m-0" routerLink="/">
            <span>Головна</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link m-lg-2 m-0" routerLink="/create-application">
            <span>Поселення</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link m-lg-2 m-0" routerLink="/contacts">
            <span>Контакти</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link m-lg-2 m-0" routerLink="/login">
            <span>Акаунт</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
