.alg-item {
  transition: transform 1s;
}

.alg-item:hover {
  transform: scale(1.2);
}

.alg-item-title {
  border-bottom: 2px #01BAFD solid;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.alg-item-subtext {
  text-align: justify;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
