<div class="container-fluid">
  <div class="row">

    <div class="col-12 my-4 text-center">
      <h1 class="display-4 text-muted fw-bolder">Список гуртожитків НАУ</h1>
    </div>

    <div class="col-lg-3 col-sm-6 col-12 px-3 py-3" *ngFor="let dormitory of dormitories;">
      <div class="card">
        <img class="card-img-top" [src]="dormitory.photo" alt="">
        <div class="card-body">
          <p class="card-title text-blue fs-4">Гуртожиток №{{dormitory.dormitoryNumber}}</p>
          <ul class="card-text text-muted">
            <li>Адреса: <b>{{dormitory.address}}</b></li>
            <li>Житлова система: <b>{{dormitory.dormitoryType}}</b></li>
            <li>Факультети: <b>{{dormitory.faculties}}</b></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
