<div class="container-fluid" style="min-height: 85vh;" [@componentChange]>
  <div class="row p-xl-5 p-2">

    <div class="offset-xl-1 col-xl-5 col-12 mb-5">

      <h1 class="display-2 mb-4">Обліковий запис #{{authorizedUser.id}}</h1>
      <p class="fs-3 text-justify">
        <span>ПІБ: </span>
        <span class="fw-bolder fst-italic d-xl-inline-block d-block">
          {{authorizedUser.lastName + ' ' + authorizedUser.firstName + ' ' + authorizedUser.patronymic}}</span>
      </p>
      <p class="fs-3 text-justify">
        <span>Стать: </span>
        <span class="fw-bolder fst-italic">{{authorizedUser.gender}}</span>
      </p>
      <p class="fs-3 text-justify">
        <span>Електронна адреса: </span>
        <span class="fw-bolder fst-italic d-xl-inline-block d-block">{{authorizedUser.email}}</span>
      </p>
      <p class="fs-3 text-justify">
        <span>Номер телефону: </span>
        <span class="fw-bolder fst-italic d-xl-inline-block d-block">{{authorizedUser.phoneNumber}}</span>
      </p>
      <p class="fs-3 text-justify" *ngIf="authorizedUser.faculty">
        <span>Факультет: </span>
        <span class="fw-bolder fst-italic">{{authorizedUser.faculty}}</span>
      </p>
      <p class="fs-3 text-justify" *ngIf="authorizedUser.group">
        <span>Група: </span>
        <span class="fw-bolder fst-italic">{{authorizedUser.group}}</span>
      </p>

    </div>

    <div class="offset-xl-1 col-xl-4 col-12 mb-5" *ngIf="userItems && userItems.length !== 0">

      <h1 class="display-6 mb-2">Арматурний список:</h1>

      <table class="fs-3 w-100 text-center">
        <tr>
          <th style="width: 25%">Номер</th>
          <th style="width: 75%">М'який інвентар</th>
        </tr>
        <tr *ngFor="let item of userItems;">
          <td>{{item.id}}</td>
          <td>{{item.inventoryItem}}</td>
        </tr>
      </table>
    </div>

    <div class="offset-xl-1 col-xl-10 mb-5">
      <h1 class="display-6 fw-bolder"> Надані файли: </h1>

      <ul class="w-100" style="list-style-type: none; padding: 0;">
        <li *ngFor="let file of userFiles" class="border p-3 fs-5 mb-1">{{file.name}}
          <span class="float-end btn-close" style="cursor: pointer;"></span>
        </li>
        <li class="row border p-3 m-0">
          <label for="inputFile" class="col-xl-3 col-6 col-form-label fs-5">Завантажити файл:</label>
          <div class="col-xl-9 col-6">
            <input id="inputFile" type="file" class="form-control">
          </div>
        </li>
      </ul>

    </div>

  </div>
</div>
