.bg-blue {
  background-color: #01BAFD;
}

.text-blue {
  color: #01BAFD;
}

.btn-custom {
  border: 2px white solid;
  background-color: transparent;
  padding: 15px;
  color: white;
}

.btn-custom:hover {
  background-color: white;
  color: #01BAFD;
}
