<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-12 p-0">
      <img class="img-fluid" style="height: 100% !important;" src="/assets/img/students.jpg" alt="">
    </div>

    <div class="col-lg-4 col-12 p-0 bg-blue p-5">
      <h1 class="display-5 text-white fw-bold my-4">Гуртожитки НАУ</h1>
      <p class="text-white" style="text-align: justify; font-size: 2vh;">Гуртожитки обладнані всіма необхідними умовами для комфортного життя і навчання. Інфраструктура: кімнати, душові, кухні, пральні, постільна білизна, спорт та відпочинок. Студентське містечко нараховує 11 гуртожитків. Приєднуйся!</p>

      <button class="btn-custom mt-lg-4" style="font-size: 3vh;">Подати заяву</button>
    </div>
  </div>

  <div class="row mt-5">

    <div class="col-12 text-blue text-center mb-5" style="opacity: 70%;">
      <h1 class="display-4">Алгоритм поселення</h1>
    </div>

    <div class="col-lg-4 col-12 alg-item">
      <div class="text-center">
        <p class="display-6 text-blue alg-item-title p-2 fw-bolder">
          1. Подати заяву
          <i class="bi bi-file-text"></i>
        </p>
        <p class="alg-item-subtext fs-5 text-blue">
          Зареєструйся на сайті та подай заяву на поселення до відповідного гуртожитку онлайн.
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-12 alg-item">
      <div class="text-center">
        <p class="display-6 text-blue alg-item-title p-2 fw-bolder">
          2. Оплатити гуртожиток
          <i class="bi bi-cash-coin"></i>
        </p>
        <p class="alg-item-subtext fs-5 text-blue">
          Отримай квитанцію на оплату проживання в гуртожитку електронною поштою.
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-12 alg-item">
      <div class="text-center">
        <p class="display-6 text-blue alg-item-title p-2 fw-bolder">
          3. Почати проживання
          <i class="bi bi-building-check"></i>
        </p>
        <p class="alg-item-subtext fs-5 text-blue">
          Поселяйся до своєї кімнати, знаходь нових друзів та ніколи не запізнюйся на пари.
        </p>
      </div>
    </div>
  </div>

  <hr>

  <app-dormitory-list></app-dormitory-list>
</div>
